*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

body {
    flex-direction: column;
    background: #FFFFFF;
    color: #000;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
/* ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 15px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180.96deg, #000000 0.82%, #4A2800 129.1%);
    background: linear-gradient(180.96deg, #000000 0.82%, #4A2800 129.1%);
    background: linear-gradient(180.96deg, #000000 0.82%, #4A2800 129.1%);
    border-radius: 15px;
  } */